<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B2FA3691D6862550002BA41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B2FA37D1D6862550002BA41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B2FA3881D6862550002BA41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
